#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

/* .ant-layout {
  background: #f0f2f5;
} */

/* .ant-layout {
  background: #686868;
} */

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-dark-layout-background {
  background: #4a4747;
  margin-top: 1%;
  color: white;
}

.site-layout-background {
  background: #fff;
  margin-top: 1%;
  color: black;
}
body {
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#todo {
  height: 100vh;
}
.content {
  height: 90vh;
  margin-top: 1%;
}

.header-dark {
  background-color: #4a4747;
  height: 100px;
  color: white;
}

.header {
  background-color: #fff;
  height: 100px;
  color: black;
}

#icono {
  display: flex;
  justify-content: center;
}
#contained-button-file {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
#logo {
  height: 100px;
  width: 100px;
}
.botones {
  margin-top: 10%;
  width: 200px;
  height: 35px;
}
#h1nombre {
  display: flex;
  justify-content: center;
}
#darklight {
  margin-top: 105%;
}

.menuLight {
  background: white;
  color: black;
}

.menuDark {
  background: #4a4747;
  color: white;
}

.footer {
  background: #f0f2f5;
  color: black;
}

.footer-dark {
  background: #686868;
  color: white;
}

.subMenuLight {
  color: black;
  background: white;
}

.subMenuDark {
  color: white;
  background: #4a4747;
}
